@tailwind base;
@tailwind components;
@tailwind utilities;

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

html {
  scroll-behavior: smooth;
}

.question {
  z-index: 2;
}

/* Original first background */
.question-background-1 {
  background: linear-gradient(180deg, #5d3e85, #3f2963);
  position: relative;
  overflow: hidden;
}

/* Less contrast but still colorful backgrounds */
.question-background-2 {
  background: linear-gradient(180deg, #3f2963, #286387);
  position: relative;
  overflow: hidden;
}

.question-background-3 {
  background: linear-gradient(180deg, #286387, #5b823f);
  position: relative;
  overflow: hidden;
}

.question-background-4 {
  background: linear-gradient(180deg, #5b823f, #874563);
  position: relative;
  overflow: hidden;
}

.question-background-5 {
  background: linear-gradient(180deg, #874563, #8a6f2c);
  position: relative;
  overflow: hidden;
}

.question-background-6 {
  background: linear-gradient(180deg, #8a6f2c, #1e215d);
  position: relative;
  overflow: hidden;
}

.question-background-1:after,
.question-background-2:after,
.question-background-3:after,
.question-background-4:after,
.question-background-5:after,
.question-background-6:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  right: -100px;
  top: -100px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  animation: pulse 4s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.question-button {
  font-weight: bold;
  background-color: transparent;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  margin: auto;
  transition: background-color 0.3s;
  width: 100%;
  text-align: left;
  display: block;
}

.primary-button {
  margin-top: 1rem;
  background-color: #4a007d; /* Darker shade of purple */
  color: white;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem; /* Padding on left */
  padding-right: 0.5rem; /* Padding on right */
  font-size: 1rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; /* 100% width */
  text-align: center; /* Center the text */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.primary-button:hover {
  background-color: #6807a5; /* Even darker on hover */
}

.question-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.clicked {
  background-color: rgba(255, 255, 255, 0.3); /* As per the hover effect */
}

@keyframes expandBox {
  from {
    max-height: 0;
  }
  to {
    max-height: 800px; /* Adjust this if the content might be taller */
  }
}

.expanded-text {
  overflow-y: hidden;
  max-height: 0;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0px 10px 20px 20px;
  text-align: left;
}

.show-content {
  animation: expandBox 0.6s forwards; /* Use the animation */
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70vh;
  width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  padding: 20px;
  border-radius: 10px;
}

.horizontal-line {
  width: 100%;
  border: none;
  height: 1px;
  background-color: white;
  margin: 0;
}

@media (max-width: 768px) {
  .content-container {
    padding: 0 20px;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    padding: 20px;
  }
  .text-2xl {
    font-size: 1.2rem;
  }
  .question-button,
  .primary-button {
    font-size: 0.9rem;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.list-item {
  opacity: 0;
  list-style-type: none;
}

.list-item.fade-in-left {
  animation: fadeInLeft 0.5s forwards;
}

.list-item:nth-child(1) {
  animation-delay: 0.2s;
}

.list-item:nth-child(2) {
  animation-delay: 0.4s;
}

.list-item:nth-child(3) {
  animation-delay: 0.6s;
}

.list-item:nth-child(4) {
  animation-delay: 0.8s;
}

.list-item:nth-child(5) {
  animation-delay: 1s;
}

.list-item:nth-child(6) {
  animation-delay: 1.2s;
}

.list-item:nth-child(7) {
  animation-delay: 1.4s;
}

.list-item:nth-child(8) {
  animation-delay: 1.6s;
}

.donts .list-item:nth-child(1) {
  animation-delay: 1.8s;
}
.donts .list-item:nth-child(2) {
  animation-delay: 2s;
}
.donts .list-item:nth-child(3) {
  animation-delay: 2.2s;
}
.donts .list-item:nth-child(4) {
  animation-delay: 2.4s;
}
.donts .list-item:nth-child(5) {
  animation-delay: 2.6s;
}
.donts .list-item:nth-child(6) {
  animation-delay: 2.8s;
}
.donts .list-item:nth-child(7) {
  animation-delay: 3s;
}
.donts .list-item:nth-child(8) {
  animation-delay: 3.2s;
}

.header {
  margin-top: 8px; /* Adjust as needed for spacing at the top */
}

/* Ensure the background is at least the height of the screen but can grow */
.bg-gray-900 {
  min-height: 100vh;
}

/* Centering the headline on larger screens */
.header h1 {
  margin-left: auto;
  margin-right: auto;
}

/* Ensure content is fully visible */
.w-full {
  overflow-y: auto;
}

/* For screens 640px and above (typically tablet and desktop) */
@media (min-width: 640px) {
  .content-container {
    flex-direction: row;
  }

  .content-container > div {
    width: 2/5; /* original width */
  }
}

/* For screens below 640px (typically mobile) */
@media (max-width: 639px) {
  .content-container {
    flex-direction: column;
  }

  .content-container > div {
    width: 90%; /* Adjust based on your preference */
    margin-bottom: 20px; /* Gives a gap between the two containers for better readability */
  }
}
